/* text class */

.t-bold {
    font-weight: bold;
}
.t-underline {
     text-decoration: underline; /* text-decoration -> serve per decorare il testo */
}

/* layout class */

.l-fd-col {
    flex-direction: column;
}

.a-mw-1280 {
    max-width:1280px;
}

.a-ml-auto {
    margin-left: auto;
}

.a-mr-auto {
    margin-right: auto;
}

.a-border-bottom {
    border-bottom: 1px solid #ccc; 
}