/* Text Classes */

.t-big {
    font-size: 1.5rem;
}

.t-center {
    text-align: center;
}

.t-bold {
    font-weight: bold;
}


/* Positions Classes */

.a-it-center {
    align-items: center;
}

/* Layout Classes */

.a-mw-1280 {
    max-width: 1280px;
}